/* Login.php */
.modal-content-login {
    width: 100%;
}

.modal-content-login h1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    background-color: #273db7;
    color: #ffffff;
}

.modal-content-login .input-box {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-radius: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
}

input:hover {
    border: 2px solid black;
}

input:placeholder-shown {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}

.input-box i {
    position: absolute;
    right: 0;
    translate: -50% 50%;
}

.modal-content-login .register-box a {
    text-decoration: none;
    color: #1e16f7;
}

.modal-content-login .submit-button
{
    display: flex;
    margin: 15px 0;
    align-items: center;
    justify-content: center;
}

.submit-button input[type="submit"] {
    width: 50%;
    height: 25px;
    padding: 5px 0;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
}

input[type="submit"]:hover {
    background-color: #273db7;
    color: #ffffff;
    cursor: pointer;
}

/* Register.php */
.modal-content-register {
    width: 100%;
}

.modal-content-register h1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    background-color: #8b90ab;
    color: #a62a2a;
}

.modal-content-register .input-box {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
}

.input:hover {
    border: 2px solid black;
}